@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {

  background-color: #131722;
  color           : white;
  font-family     : 'Montserrat Alternates', sans-serif;

}

.active {

  background-color: gray;

  border-radius: 5px;


}

.nav-link,
.nav-linkCategory {

  margin-right: 10px;
  padding     : 10px;
  

}

.nav-linkCategory{

  background-color: transparent;
  transition: 0.5s all;

}

.nav-linkCategory:hover {

  background-color: green;

  border-radius: 5px;

}

.nav-link:hover {

  background-color: gray;

  border-radius: 5px;

}

.loading {
  position: fixed;
  top     : 0;
  right   : 0;
  bottom  : 0;
  left    : 0;
}

.loader {
  left       : 50%;
  margin-left: -4em;
  font-size  : 10px;
  border     : .8em solid rgba(218, 219, 223, 1);
  border-left: .8em solid rgb(166, 58, 58);
  animation  : spin 1.1s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width        : 8em;
  height       : 8em;
  display      : block;
  position     : absolute;
  top          : 50%;
  margin-top   : -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.line {

  background-color: white;
  height          : 2px;
}

.item {

  cursor: pointer;
}

a,
a:hover {
  color          : white;
  text-decoration: none;
}

.pagination {

  cursor: pointer;
}